<div class="row">
    <div class="col">
        <div class="card">
            <i [ngClass]="{'fas': starBtn, 'far fa-star mt-3 ms-3': true}" (click)="addToWishlist(productInput)"></i>

            <img [src]="productInput?.image" class="card-img-top mt-4" alt="product" [routerLink]="['/product', productInput.id]">

            <div class="card-body" [routerLink]="['/product', productInput.id]">
                <h5 class="card-title mt-4">{{ productInput?.title }}</h5>
                <p class="card-text h-25">{{ productInput?.category }}</p>
                <p class="card-text h-25">{{ productInput?.price|egyCurrency }}</p>
            </div>

            <div class="card-footer">
                <button class="btn btn-primary ms-2" (click)="updateCartCounter()" [disabled]="checkCartBtn[productInput.id - 1]">Add to cart</button>
            </div>
        </div>
    </div>
</div>